.txt-input-amount-in {

    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    text-align: left;
    width: 100%;
    max-width: 300px;
    color: #000000;

}

.txt-input-amount-in-max {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    border: 0;
    color: #98A0AB;
    background-color: #e9eaec;
    border-radius: 10px;
    padding: 8px;
    // margin-right: 75px;
    margin-top: -6px;
}